<div id="content_header_details" class="content_container shadow">
  <div class="content_header_details_row">
    <div class="content_header_details_icon">
      <img src="static-files/images/info_icon.jpeg" alt="">
    </div>
    <div class="content_header_details_bold_text">
      <p>{{ .InfoTitle }}</p>
    </div>
  </div>
  <div class="content_header_details_row">
    <div class="content_header_details_icon">
      <img src="static-files/images/date_icon.png" alt="">
    </div>
    <div class="content_header_details_text">
      <p> {{ .Date }}</p>
    </div>
  </div>
  <div class="content_header_details_row">
    <div class="content_header_details_icon">
      <img src="static-files/images/time_icon.png" alt="">
    </div>
    <div class="content_header_details_text">
      <p>{{ .Time }}</p>
    </div>
  </div>
  <div class="content_header_details_row">
    <div class="content_header_details_icon">
      <img src="static-files/images/location_icon.png" alt="">
    </div>
    <div class="content_header_details_text">
      <p>{{ .AddressString }}</p>
    </div>
  </div>
  <div class="content_header_separator">
    <hr>
  </div>
  <div class="content_header_details_description">
    {{ .Description }}
    <p>Hey Leute!</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 😉</p>
    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.<br>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.😉</p>
    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim<br>
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla 🙂</p>
    <p>Bis denne 🙂<br>
      Max Mustermann</p>
  </div>
</div>
