<div id="content_guest" class="content_container round shadow">
  <div class="content_guest_details_info_text horizontal_flex_box padding_10px">
    Bitte gebe hier deine Daten ein!
  </div>
  <form id="guest_details_name_form">
    <div class="content_guest_details_name horizontal_flex_box padding_10px">
      <input id="content_guest_details_first_name" type="text" name="firstName" value="{{ .FirstName }}">
      <input id="content_guest_details_lasst_name" type="text" name="lastName" value="{{ .LastName }}">
    </div>
  </form>
  <div class="content_guest_details_confirmation_details horizontal_flex_box padding_10px">
    <div class="content_guest_details_confirmation_details_confirm">
      <button id="content_guest_details_confirm_button" class="gray_button">Zusagen</button>
    </div>
    <div class="content_guest_details_confirmation_details_interested">
      <button id="content_guest_details_interest_button" class="gray_button">Interessiert</button>
    </div>
    <div class="content_guest_details_confirmation_details_decline">
      <button id="content_guest_details_decline_button" class="gray_button">Absagen</button>
    </div>
  </div>
  <form id="guest_details_bring_someone_form">
    <div class="content_guest_details_bring_someone horizontal_flex_box padding_10px round_thin_border">
      <div class="content_guest_details_bring_someone_text_start horizontal_flex_box">
        <p>Ich bringe</p>
      </div>
      <div class="content_guest_details_bring_someone_input">
        <input id="content_guest_details_bring_someone" type="number" name="bring_someone" value="{{ .OtherPeopleThisGuestWillBring }}">
      </div>
      <div class="content_guest_details_bring_someone_text_end">
        <p>weitere Personen mit</p>
      </div>
    </div>
  </form>
  <div class="content_guest_details_bring_something padding_10px round_thin_border">
    <form id="content_guest_details_bring_something_form" action="javascript:void(0);">
      <div class="content_guest_details_bring_something_input_row horizontal_flex_box">
        <div class="content_guest_details_bring_something_text_start">
          <p>Außerdem bringe ich mit </p>
        </div>
        <div class="bring_something_category">
          <select name="bring_something_category_select" id="bring_something_category_select">
            <option value="to_eat" selected>Essen: </option>
            <option value="to_drink">Trinken: </option>
            <option value="others">Anderes: </option>
          </select>
        </div>
        <div class="content_guest_details_bring_something_input">
          <input type="text" name="bring_something" value="Salat">
        </div>
        <div class="content_guest_details_bring_something_add_button">
          <button id="bring_something_add_button" class="gray_button">+</button>
        </div>
      </div>
    </form>
    <div class="content_guest_details_bring_something_list">
      <ul class="striped_list">
        <li>
          <div>
            Essen: Wurst
            <button class="delete_button">x</button>
          </div>
        </li>
        <li>
          <div>
            Essen: Käse
            <button class="delete_button">x</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
