<div id="content_bring_something" class="content_container vertical_flex_box shadow">

  <div class="content_bring_something_info_text horizontal_flex_box padding_10px">
    Folgendes wird bereits mitgebracht:
  </div>
  <div class="content_guests_summary">
    <div class="content_guests_summary_confirmed">
      <button id="content_bring_something_list_food_button" class="gray_button gray_button_clicked">4<br>Essen</button>
    </div>
    <div class="content_guests_summary_tentative">
      <button id="content_bring_something_list_drinks_button" class="gray_button">3<br>Trinken</button>
    </div>
    <div class="content_guests_summary_declined">
      <button id="content_bring_something_list_others_button" class="gray_button">6<br>Anderes</button>
    </div>
  </div>
  <div id="content_bring_something_list_food" class="content_bring_something_list">
    <ul class="striped_list">
      <li>Nudelsalat</li>
      <li>Chips</li>
      <li>Salat</li>
      <li>Mousse au cholocat</li>
    </ul>
  </div>
  <div id="content_bring_something_list_drinks" class="content_bring_something_list hidden">
    <ul class="striped_list">
      <li>1 Kiste Bier</li>
      <li>Zutaten für Cocktails</li>
      <li>2 Kisten Wasser</li>
    </ul>
  </div>
  <div id="content_bring_something_list_others" class="content_bring_something_list hidden">
    <ul class="striped_list">
      <li>Grill</li>
      <li>2 Stehtische</li>
      <li>3 Bierzelgarnituren</li>
      <li>Holz für Lagerfeuer</li>
      <li>Musik-Anlage</li>
      <li>Party-Zelt</li>
    </ul>
  </div>
</div>
