<div id="content_discussion" class="content_container vertical_flex_box shadow">
  <form id="content_discussion_new_message_form" action="javascript:void(0);">
    <div class="content_discussion_new_message round_thin_border">
      <textarea name="content_discussion_new_message_text_area" rows="8" cols="80"></textarea>
    </div>
  </form>
  <div class="content_discussion_submit_button horizontal_flex_box">
    <button id="submit_button" class="gray_button">Kommentieren</button>
  </div>
  <div class="content_discussion_message_list ">
    <ul class="striped_list">
      <li>
        <div class="content_discussion_message horizontal_flex_box">
          <div class="content_discussion_message_inital_char_image horizontal_flex_box">
            M
          </div>
          <div class="content_discussion_message_right_container">
            <div class="content_discussion_message_author">
              Max Mustermann
            </div>
            <div class="content_discussion_message_date_time">
              So. - 20.12.2020 - 16:00
            </div>
            <div class="content_discussion_message_text padding_10px">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
              eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
              augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
            </div>

          </div>
        </div>

      </li>
      <li>
        <div class="content_discussion_message horizontal_flex_box">
          <div class="content_discussion_message_inital_char_image horizontal_flex_box">
            L
          </div>
          <div class="content_discussion_message_right_container">
            <div class="content_discussion_message_author">
              Lisa Musterfrau
            </div>
            <div class="content_discussion_message_date_time">
              Fr. - 18.12.2020 - 12:04
            </div>
            <div class="content_discussion_message_text padding_10px">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </div>

          </div>
        </div>

      </li>
    </ul>

  </div>

</div>
