<div id="content_guests" class="content_container content_guests shadow">

  <div class="content_guests_summary">
    <div class="content_guests_summary_confirmed">
      <button id="content_guests_summary_confirmed_button" class="gray_button gray_button_clicked">26<br>Zusagen</button>
    </div>
    <div class="content_guests_summary_tentative">
      <button class="collapsible">5000<br>Interessiert</button>
    </div>
    <div class="content_guests_summary_declined">
      <button class="collapsible">10<br>Absagen</button>
    </div>

  </div>
  <div class="content_guests_list_accepted">
    <ul class="striped_list">
      <li>John Stone</li>
      <li>Ponnappa Priya</li>
      <li>Mia Wong + 2</li>
      <li>Peter Stanbridge</li>
      <li>Natalie Lee-Walsh</li>
      <li>Ang Li + 3 </li>
      <li>Nguta Ithya</li>
      <li>Tamzyn French</li>
      <li>Salome Simoes</li>
      <li>Trevor Virtue + 1</li>
      <li>Tarryn Campbell-Gillies</li>
      <li>Eugenia Anders</li>
      <li>Andrew Kazantzis</li>
      <li>Verona Blair</li>
      <li>Jane Meldrum</li>
      <li>Maureen M. Smith</li>
      <li>Desiree Burch</li>
      <li>Daly Harry</li>
      <li>Hayman Andrews</li>
      <li>Ruveni Ellawala</li>
    </ul>
  </div>
</div>
