<div id="header">
  <img src="static-files/images/start.jpg" alt="">
  <div class="head_line">
    <div>
      <div class="date_calender">
        <div class="date_calender_month">
          <p>JUNI</p>
        </div>
        <div class="date_calendar_day">
          <p>20</p>
        </div>
      </div>
    </div>
    <div class="header_name">
      <h1>Grillabend</h1>
    </div>
  </div>
</div>
