<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
      .test {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1 class="test">Hello World</h1>
    <img src="/static-files/confirm_icon.png" alt="">
  </body>
</html>
